body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  font-size: 100%; /*16px*/
}

.logo {
  margin: 20px;
  width: 100px;
  font-size: 2em; /*32px*/
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  font-size: 100%; /*16px*/
}

li {
  float: right;
  padding: 30px;
  font-size: 100%; /*16px*/
}

h1 {
  font-size: 3em; /*48px*/
  text-align: left;
}

h3 {
  color: #808080;
  font-size: 1.25em;
  text-align: left;
  line-height: normal;
}

.author {
  color: #000000;
}

figcaption {
  font-size: 80% /*~13px*/
}

article {
  padding-top: 100px;
  font-size: 100%; /*16px*/
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a:link { text-decoration: none; color:#ffffff; } /* unvisited */
a:visited { text-decoration: none; color:#ffffff; } /* visited */
a:hover { text-decoration: none; color:#f4d03f; } /* mouse over */
a:active { text-decoration: none; color:#5d6d7e; } /* selected */
